In [40]:
import pandas as pd,numpy as np

In [41]:
df = pd.read_csv(r"C:\Users\JAGADISH\Num Py\groupbyExcercise.csv")
df

,Unnamed: 0,Date,Product,Revenue,Quantity,Year,Month,Total_Product_Revenue,Revenue Percentage
0,0,2023-01-01,A,221,3,2023,1,774,28.552972
1,1,2023-01-01,B,111,8,2023,1,892,12.443946
2,2,2023-01-02,B,171,11,2023,1,892,19.170404
3,3,2023-01-02,A,141,15,2023,1,774,18.217054
4,4,2023-02-01,A,75,4,2023,2,774,9.689922
5,5,2023-02-01,B,90,12,2023,2,892,10.089686
6,6,2023-02-02,A,96,17,2023,2,774,12.403101
7,7,2023-02-02,B,170,10,2023,2,892,19.058296
8,8,2023-03-01,B,200,19,2023,3,892,22.421525
9,9,2023-03-01,A,120,10,2023,3,774,15.503876
10,10,2023-03-02,A,121,12,2023,3,774,15.633075
11,11,2023-03-02,B,150,5,2023,3,892,16.816143

#### 1.Arrange DataFrame df, focusing on distinct product categories. Explore the data to reveal:
#### Overall revenue insights

In [42]:
overall_revenue = df.groupby('Product')['Revenue'].sum()
print(f"Overall Revenue:")
print(overall_revenue)
total_revenue = df['Revenue'].sum()
print(f"Total Revenue: {total_revenue}")

Overall Revenue:
Product
A    774
B    892
Name: Revenue, dtype: int64
Total Revenue: 1666

#### Average revenue patterns

In [43]:
average_revenue = df.groupby('Product')['Revenue'].mean()
print(f"Average Revenue:" ,(average_revenue))

Average Revenue: Product
A    129.000000
B    148.666667
Name: Revenue, dtype: float64

#### Peak quantity sold observations

In [44]:
peak_quantity = df.groupby('Product')['Quantity'].max()
print(f"Peak Quantity Sold:" ,(peak_quantity))

Peak Quantity Sold: Product
A    17
B    19
Name: Quantity, dtype: int64

#### Minimum quantity sold occurrences

In [45]:
min_quantity = df.groupby(['Product'])['Quantity'].min()
print(f"Minimum Quantity Sold:" ,(min_quantity))

Minimum Quantity Sold: Product
A    3
B    5
Name: Quantity, dtype: int64

#### 2.Aggregate DataFrame df by extracting the month and year from the 'Date' column. Calculate the collective revenue for each unique combination of month and year.

In [46]:
 df.groupby(['Year', 'Month',])['Revenue'].sum().reset_index()

   Year  Month  Revenue
0  2023      1      644
1  2023      2      431
2  2023      3      591

#### 3. Group the DataFrame df by the 'Date' column and find the date with the highest total revenue and the date with the highest total quantity sold.

In [47]:
data = df.groupby(['Date'])[['Revenue','Quantity']].sum()
data

            Revenue  Quantity
Date
2023-01-01      332        11
2023-01-02      312        26
2023-02-01      165        16
2023-02-02      266        27
2023-03-01      320        29
2023-03-02      271        17

In [48]:
max_revenue_date =data['Revenue'].idxmax()
max_revenue_date
print('Date with Highest revenue  is : ', max_revenue_date)

Date with Highest revenue  is :  2023-01-01

In [49]:
max_quantity_date = data['Quantity'].idxmax()
print('Date with Highest quantity sold is : ', max_quantity_date)

Date with Highest quantity sold is :  2023-03-01

#### 4. Group the DataFrame df by the Date and find products that have a total quantity sold greater than 10 and less than 15 .

In [50]:
x = df.groupby(['Date', 'Product'])['Quantity'].sum()

In [51]:
y = x[(x > 10) & (x < 15)]

In [52]:
y

Date        Product
2023-01-02  B          11
2023-02-01  B          12
2023-03-02  A          12
Name: Quantity, dtype: int64

#### 5. Group the DataFrame df by the 'Product' column andadd a new column 'Revenue Percentage' that shows the percentage of each product's revenue relative to the total revenue for that product.

In [53]:
x = df.groupby('Product')['Revenue'].sum()

In [54]:
percentage = x / x.sum() * 100

In [55]:
df['Revenue Percentage'] = df['Product'].map(percentage)
print(df)

    Unnamed: 0        Date Product  Revenue  Quantity  Year  Month  \
0            0  2023-01-01       A      221         3  2023      1
1            1  2023-01-01       B      111         8  2023      1
2            2  2023-01-02       B      171        11  2023      1
3            3  2023-01-02       A      141        15  2023      1
4            4  2023-02-01       A       75         4  2023      2
5            5  2023-02-01       B       90        12  2023      2
6            6  2023-02-02       A       96        17  2023      2
7            7  2023-02-02       B      170        10  2023      2
8            8  2023-03-01       B      200        19  2023      3
9            9  2023-03-01       A      120        10  2023      3
10          10  2023-03-02       A      121        12  2023      3
11          11  2023-03-02       B      150         5  2023      3

    Total_Product_Revenue  Revenue Percentage
0                     774           46.458583
1                     892           53.541417
2                     892           53.541417
3                     774           46.458583
4                     774           46.458583
5                     892           53.541417
6                     774           46.458583
7                     892           53.541417
8                     892           53.541417
9                     774           46.458583
10                    774           46.458583
11                    892           53.541417